    body {}

    .container {
        min-height: 100%;
        max-width: 100%;
        margin: 0;
        background-color: #f7f7f7;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
    }
    /***********************************************/
    /************************HEADER************************/

    header {
        height: 155px;
        /* IE10+ */
        background-image: -ms-linear-gradient(top left, #002B4B 0%, #F0F0F0 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top left, #002B4B 0%, #F0F0F0 100%);
        /* Opera */
        background-image: -o-linear-gradient(top left, #002B4B 0%, #F0F0F0 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #002B4B), color-stop(100, #F0F0F0));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top left, #002B4B 0%, #F0F0F0 100%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom right, #002B4B 0%, #F0F0F0 100%);
        background-repeat: repeat-x;
        width: 100%;
    }

    .header-inner {
        height: 165px;
        width: 95%;
        margin: 0 auto;
    }

    .header-logo {
        margin-top: 20px;
        margin-left: -8px;
        width: 200px;
        float: left;
        font-size: 48px;
        color: #f7f7f7;
    }

    .header-logo span {
        font-size: 58px;
        color: #7CFC00;
    }

    .heade-logo sup {
        color: rgba(255, 255, 255, 0.4);
        font-size: 48px;
        position: relative;
        top: -12px;
        right: 120px;
    }

    .header-navigation {
        margin-top: 5px;
    }

    .header-navigation__list {
        width: 100%;
        background: #efefef;
        background: linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
        background: -moz-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
        background: -webkit-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
        padding: 0;
        border-radius: 2px;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    .header-navigation__list:after {
        content: "";
        clear: both;
        display: block;
    }

    .header-navigation__list li {
        float: left;
    }

    .header-navigation__list li:last-child {
        margin-right: 80px;
    }

    .header-navigation__list li a {
        display: block;
        padding: 10px 15px;
        color: #757575;
        text-decoration: none;
    }

    .header-navigation__list li a:hover {
        color: #fff;
    }

    .header-navigation__list li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    }
    /************************ Main ************************/

    main {
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        flex: 1;
    }

    .main-inner {
        width: 100%;
        min-height: 300px;
        background-color: #efefef;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-inner h1, .main-inner h4 {
        color: darkgray;
    }

    .main-inner h4 {
        margin-top: -5px;
    }

    .food-list-item {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 5px 20px;
        box-shadow: 2px 2px 10px #888888;
    }

    .food-list-info {
        width: 90vw;
        padding: 5px 10px;
        flex-grow: 1;
    }

    .food-list-info p {
        flex-direction: column;
        justify-content: center;
        height: 38px;
        line-height: 18px;
        color: #2b2b2b;
        margin-bottom: 6px;
    }

    .food-list-img {
        height: 150px;
        flex-basis: 150px;
        background-image: url('http://www.myw-cms.it/amm/immagini/0002/prodotti/6666_imgscheda_seitan-baconcheese-burger-png.PNG');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }

    .chart-container {
        display: flex;
    }

    .my-chart {
        margin: 0 20px;
    }